name: Maven Package

on:
  push: 
   branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
 

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file

    - name: Build with Maven
      run: mvn -B package --file pom.xml

  Codeql-Build: 

    runs-on: ubuntu-latest

    steps:
    - name: Git code from master
      uses: actions/checkout@v2

    - name: Codeql init
      uses: github/codeql-action/init@v1

    - name: codeql build
      uses: github/codeql-action/autobuild@v1
        
    - name: codeql Analysis
      uses: github/codeql-action/analyze@v1


      


